.nav_menu {
    height: 100vh;
    background-color: white;
    width: 300px;
    position: fixed;
    z-index: 1000;
    left: -300px;
    top: 0;
    transition: left .3s ease;
}

.nav_menu.side_menu {
    left: 0;
}

.nav_menu .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.nav_menu .logo img {
    width: 170px;
}

.nav_menu .logo button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav_menu .logo button:hover {
    color: var(--secondary-color);
}

.nav_menu .logo i {
    font-size: 1.5rem;
}

.nav_menu ul {
    margin: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav_menu hr {
    color: rgba(230, 230, 230, 0.379);
}

.nav_menu a {
    padding-left: 1.2rem;
    transition: all .3s ease;
}

.nav_menu a:hover {
    padding-left: 1.6rem;
    color: var(--primary-color);
}

.nav_menu p {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0 0 .8rem 1rem;

}

.nav_menu p i {
    color: var(--primary-color);
}

.nav_menu .media_links {
    margin-top: 2.2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}



@media (max-width:768px) {
    h2 {
        font-size: 2rem;
    }

    /* hero section start  */
    #hero {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    #side_btn {
        display: block;
    }

    .hero_content {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero_content .hero_text h1 {
        font-size: 2rem;
    }

    .hero_image img {
        max-width: 400px;
    }

    /* hero section end  */
    /* service section start  */

    #service .top {
        text-align: center;
        flex-direction: column;
        /* justify-content: ; */
        gap: 2rem;
    }

    #service .bottom {
        flex-direction: column;
    }

    #project .nav ul {
        justify-content: center;
        width: 380px;
        flex-wrap: wrap;
        /* gap: 2rem; */
    }

    #project .nav ul li a {
        font-size: .9rem;
        padding: 0.8rem .4rem;
    }

    #project .photos {
        grid-template-columns: repeat(1, 1fr);
    }

    #portfolio .portfolio_content .top_row,
    .portfolio_content .bottom_row {
        grid-template-columns: repeat(1, 1fr);
    }

    .portfolio_content .bottom_row {
        padding-top: 0;
    }

    .skill_head,
    .skill_text {
        flex-direction: column;
        text-align: center;
        gap: 1.5rem;
    }

    #testimonial .bg_div .testimonial_head {
        height: 20%;
    }



    .testimonial_image {
        margin-top: -10%;
        flex-direction: column;
        justify-content: center;
    }

    #testimonial .rectangle {
        width: 100%;
        height: 40%;
    }

    #testimonial .reviewArrow_div {
        margin-left: 0;
        margin-top: -30%;
        width: 100%;
        height: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #testimonial .review_div {
        font-size: .9rem;
        margin-top: 2%;
        background-color: green;
        padding: 1.5rem;
        width: 90%;
    }

    #testimonial .reviewArrow_div .arrow_div {
        text-align: center;
    }

    .reviewArrow_div .arrow_btn {
        position: relative;
        z-index: 1000;
        color: var(--primary-text-color);
        outline: 1px solid var(--primary-color);
    }

    #story .container {
        margin-top: 1rem;
        padding: 1.5rem;
    }

    #story .story_content {
        margin-top: 2rem;
        flex-direction: column;
    }



    #story .story_content .company {
        padding: 1rem;
    }

    #story .story_content .web {
        gap: 2rem;
    }

    /* footer  */
    #home_footer {
        margin-top: 3rem;
        padding: 1rem 0;
    }

    #home_footer .footer_top {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
        align-items: center;
    }

    #home_footer .footer_about {
        gap: 1rem;
    }

    .quick_links {
        gap: 1rem;
    }

    #home_footer .newsLetter {
        gap: 1rem;
    }

    .footer_bottom {
        text-align: center;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 0rem;
    }

    .footer_bottom .links {
        justify-content: space-between;
        gap: 1rem;
    }

}