.nav_menu {
    background-color: white;
    height: 100vh;
    width: 280px;
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
}

.nav_menu .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.nav_menu .logo img {
    width: 170px;
}

.nav_menu .logo button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.nav_menu .logo button:hover {
    color: var(--secondary-color);
}

.nav_menu .logo i {
    font-size: 1.5rem;
}

.nav_menu ul {
    margin: 2rem 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.nav_menu hr {
    color: rgba(230, 230, 230, 0.379);
}

.nav_menu a {
    padding-left: 1.2rem;
    transition: all .3s ease;
}

.nav_menu a:hover {
    padding-left: 1.6rem;
    color: var(--primary-color);
}

@media (max-width:768px) {
    #hero {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .navbar button {
        display: block;
    }

    .hero_content {
        display: block;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .hero_content .hero_text h1 {
        font-size: 2rem;
    }

    .hero_image img {
        max-width: 400px;
    }
}