/* Initial setup start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 4rem;
}

:root {
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --tertiary-color: #F3F7F8;
    --primary-font-family: "Lora", serif;
    --secondary-font-family: "Plus Jakarta Sans", sans-serif;
    --primary-text-color: #090F32;
    --secondary-text-color: #FFFFFF;
    --color-bg: #ffffff;
    --heading-font-size: 3.5rem;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
    color: var(--primary-text-color);
}

h2 {
    /* font-family: var(--secondary-font-family); */
    font-size: var(--heading-font-size);
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 8px;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color .3s ease;

}

.btn:hover {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #090F32;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Initial setup end  */

/* hero section start */

#hero {
    min-height: 100vh;
    width: 100%;
    background: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
}

/* header part start  */
.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
    /* gap: 25px; */
    gap: 1rem;
}

.menu ul li a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.menu ul li a>i {
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

.menu>i {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 8px 23px 8px 8px;
    border-radius: 15px;
    cursor: pointer;
}

/* header part end  */

/* hero content part start  */
.hero_content {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    display: flex;
    align-items: center;
    /* width: 40%; */
}

.hero_text_part p {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-family: var(--secondary-font-family);
    margin-bottom: .5rem;
}

.hero_text_part h1 {
    font-family: var(--primary-font-family);
    font-size: var(--heading-font-size);
    color: var(--primary-text-color);
}

.hero_image img {
    max-width: 520px;
    height: auto;
    align-items: center;
}

/* hero section end  */

/* service section start  */
#service {
    margin-top: 1.5rem;
}

#service .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#service .top_text p {
    color: #5A76FF;
    text-transform: uppercase;
}

.arrow_icons .arrow {
    margin-left: 1.2rem;
    font-size: 1.5rem;
    padding: 1.5rem 1.2rem;
    color: rgb(110, 110, 110);
    background-color: var(--color-bg);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.6rem;
    display: inline;
    cursor: pointer;
}

.arrow_icons .arrow:hover {
    color: var(--primary-text-color);
}

.arrow_icons .arrow:focus {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

#service .bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

.card {
    font-family: var(--secondary-font-family);
    width: 100%;
    height: 270px;
    background-color: var(--tertiary-color);
    padding: 2rem 7rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1.4rem;
}

.card:hover,
.card a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.card img {
    width: 50px;
    border-radius: 6px;
}

.card a {
    font-size: small;
}