/* Initial setup start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;

}

:root {
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --tertiary-color: #E5E5E5;
    --primary-font-family: "Lora", serif;
    --secondary-font-family: "Plus Jakarta Sans", sans-serif;
    --primary-text-color: #090F32;
    --secondary-text-color: #FFFFFF;
    --color-bg: #ffffff;
    --heading-font-size: 3.4rem;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
    color: var(--primary-text-color);
}

.menu li .active {
    color: var(--primary-color);
}

h2 {
    font-size: var(--heading-font-size);
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 8px;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color .3s ease;

}

.btn:hover {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    font-family: var(--secondary-font-family);
    font-size: 1rem;
    color: var(--primary-text-color);
    transition: color 0.3s ease;
}

h4 {
    font-family: var(--secondary-font-family);
}

.section_head {
    color: #5A76FF;
    text-transform: uppercase;
}

p {

    font-family: var(--secondary-font-family);
}

/* Initial setup end  */

/* hero section start */

#hero {
    min-height: 100vh;
    width: 100%;
    background: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
}

/* header part start  */
.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
    /* gap: 25px; */
    gap: 1.5rem;
}

.menu ul li a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.menu ul li a>i {
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

.menu>i {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 8px 23px 8px 8px;
    border-radius: 15px;
    cursor: pointer;
}

/* header part end  */

/* hero content part start  */
.hero_content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    display: flex;
    align-items: center;
    /* width: 40%; */
}

.hero_text_part p {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-family: var(--secondary-font-family);
    margin-bottom: .5rem;
}

.hero_text_part h1 {
    font-family: var(--primary-font-family);
    font-size: 3.8rem;
    color: var(--primary-text-color);
}

.hero_image img {
    max-width: 520px;
    height: auto;
    align-items: center;
}

/* hero section end  */

/* service section start  */
#service {
    margin-top: 1.5rem;
}

#service .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.arrow_icons .arrow {
    margin-left: 1.2rem;
    font-size: 1.5rem;
    padding: 1.5rem 1.2rem;
    color: rgb(110, 110, 110);
    background-color: var(--color-bg);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.6rem;
    display: inline;
    cursor: pointer;
}

.arrow_icons .arrow:hover {
    color: var(--primary-text-color);
}

.arrow_icons .arrow:focus {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

#service .bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.first_card {
    font-family: var(--secondary-font-family);
    width: 100%;
    height: 270px;
    background-color: var(--tertiary-color);
    padding: 2rem 2.8rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.4rem;
    transition: all .3s ease;

}

.first_card:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.first_card img {
    width: 3rem;
    border-radius: 6px;
}

.first_card a {
    font-size: small;
    color: inherit;
}

/* service section end  */

/* project section start  */
#project .head {
    text-align: center;
}

#project .nav ul {
    width: 45%;
    height: 60px;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    list-style: none;
    background-color: white;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.102);

}

#project .nav ul li a {
    border-radius: 1.2rem;
    padding: 0.8rem 0.5rem;
}

#project .nav ul li a:hover,
#project .nav ul li a:focus {
    background-color: #E5E5E5;
    color: var(--primary-color);
}

#project .photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

#project .photos img {
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#project .photos img:hover {
    transform: translateY(-8px);
}

/* project section end  */

/* portfolio section start  */

#portfolio .portfolio_head {
    text-align: center;
}

#portfolio .portfolio_content .top_row {
    font-family: var(--secondary-font-family);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

.secondTop_card {
    font-family: var(--secondary-font-family);
    width: 100%;
    height: 270px;
    background-color: var(--tertiary-color);
    padding: 2rem 2.8rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.4rem;
}

#portfolio .portfolio_content .award {
    background-color: var(--primary-color);
    color: #FFFFFF;
}

#portfolio .portfolio_content .award>div {
    display: flex;
    gap: 1rem;
    background-color: var(--secondary-text-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    color: #090F32;
}

.award>div span {
    font-size: 1.5rem;
    font-weight: bold;
}

.award>div p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    gap: 0.5rem;
}

#portfolio .design ul {
    padding-left: 0.8rem;
    font-size: 0.87rem;
    line-height: 1.5rem;
}

#portfolio .design ul li::marker {
    content: '\2713';
}

#portfolio .portfolio_content .tools>div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    color: var(--secondary-text-color);
}

#portfolio .portfolio_content .tools>div p {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.portfolio_content .bottom_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.secondBottom_card {
    height: 270px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-radius: 1rem;

}

.secondBottom_card p {
    font-family: var(--secondary-font-family);
}


.seo {
    background-color: var(--secondary-color);
}

.seo a {
    font-size: small;
    text-align: center;
    width: 150px;
    padding: 0.8rem;
    font-family: var(--secondary-font-family);
    display: inline-block;
    background-color: var(--secondary-text-color);
    border-radius: 0.5rem;
}

.seo a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.education {
    background-color: var(--primary-color);
}

.education img {
    width: 4rem;
}

h3 {
    font-family: var(--secondary-font-family);
}

/* portfolio section end  */

/* skill section start  */
.skill_text {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.skill_text p {
    line-height: 2.4rem;
}


.skill_text p {
    font-family: var(--secondary-font-family);
}

.progress_bar {
    height: 4.5rem;
    font-family: var(--secondary-font-family);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.img_div {
    height: 4.6rem;
    width: 4.6rem;
    background-color: var(--tertiary-color);
    padding: 0.8rem;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
}

.progress>.progress_bar:nth-of-type(1) img,
.progress>.progress_bar:nth-of-type(2) img {
    width: 3rem;
    height: auto;
}

.progress>.progress_bar:nth-of-type(3) img,
.progress>.progress_bar:nth-of-type(4) img {
    width: 2.2rem;
    height: auto;
}



.progress_bar p {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress_bar:nth-of-type(1) p {
    width: 77%;
}

.progress_bar:nth-of-type(2) p {
    width: 67%;
}

.progress_bar:nth-of-type(3) p {
    width: 77%;
}

.progress_bar:nth-of-type(4) p {
    width: 71%;
}

.progress_bar span {
    height: 100%;
    display: flex;
    align-items: flex-end;
}

.line {
    display: block;
    width: 100%;
    margin-bottom: 2rem;
    background-color: var(--tertiary-color);
}

.rate {
    display: block;
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
    background-color: var(--primary-color);
}

.first>span {
    width: 90%;

}

.second>span {
    width: 80%;
}

.third>span {
    width: 90%;
}

.fourth>span {
    width: 85%;
}

/* Skill section end  */

/* testimonial section start  */
#testimonial {
    height: 105vh;
    width: 100%;
}

#testimonial .bg_div {
    background-image: url("../images/testimonial-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 66%;
    z-index: 0;
}

#testimonial .bg_div .testimonial_head {
    color: var(--secondary-text-color);
    height: 50%;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#testimonial .bg_div .testimonial_head p {
    text-transform: uppercase;
}

.testimonial_image {
    display: flex;
    align-items: center;
    padding: 0 2rem 0 2rem;
    height: 100%;
    position: relative;
    z-index: 1;
    font-family: var(--secondary-font-family);
}

#testimonial .rectangle {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 2;
}

#testimonial .rectangle img {
    width: 100%;
    height: 100%
}

#testimonial .reviewArrow_div {
    width: 60%;
    height: 100%;
    position: relative;
    z-index: 5;
    margin-left: -10%;
}

#testimonial .reviewArrow_div .arrow_div {
    text-align: right;
}

.reviewArrow_div .arrow_btn {
    margin-left: 1.2rem;
    font-size: 1.5rem;
    padding: 1.2rem;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 1rem;
    display: inline;
    cursor: pointer;
}

.reviewArrow_div .arrow_btn:focus {
    color: var(--primary-text-color);
    background-color: #FFFFFF;
    border: none;
}

#testimonial .review_div {
    background-color: white;
    height: 70%;

    margin-top: 5%;

    position: relative;
    z-index: 5;
    border-radius: 1rem;
    padding: 2rem 5.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.review_div .comment {
    line-height: 1.5rem;
}

.reviewer_img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--tertiary-color);
}

.comment_sign i {
    font-size: 50px;
    background: transparent;
    color: #FFFFFF;
    -webkit-text-stroke: 1px var(--primary-color);
}

.review {
    display: flex;
    justify-content: space-between;
}

.reviewer {
    display: flex;
    gap: 1rem;
}

.reviewer_profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.reviewer_profile p {
    font-size: small;
}

.star i {
    color: var(--primary-color);
}

/* testimonial section end  */

/* story section start  */
#story .story_head {
    text-align: center;
}

#story .story_content {
    font-family: var(--primary-font-family);
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
}

/* first/company div  */
#story .story_content .company {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1.5rem;
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.company .company_head {
    display: flex;
    justify-content: space-between;
}

.company .profiles {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.company .profiles>div {
    background-color: var(--tertiary-color);
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.company .profiles>div:nth-child(3) {
    height: 50px;
    width: 50px;
}

.company .company_bottom {
    display: flex;
    justify-content: space-evenly;
    gap: 1.5rem;
}

.company .company_bottom>div {
    height: 110px;
    width: 110px;
    padding: 4rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.company .company_bottom>div>p {
    font-size: small;
}

.company .company_bottom>div>span {
    font-size: 3rem;
}

.company .company_bottom>div:nth-child(1) {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);

}

.company .company_bottom>div:nth-child(2) {
    background-color: var(--tertiary-color);

}

/* second div  */
#story .story_content .web {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1rem;
    gap: 1rem;
}

.web .web_top,
.web_bottom {
    background-color: var(--secondary-text-color);
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.web .web_top {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.web .web_top img {
    width: 5rem;
}

.web .web_bottom {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
}

.web .web_bottom>div:nth-child(2) {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.web .web_bottom>div:nth-child(2) p {
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    padding: .3rem;
    display: flex;
    gap: 0.5rem;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.web .web_bottom>div:nth-child(2) p:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    cursor: pointer;
}

.web .web_bottom>div:nth-child(2) p .fa-comment {
    width: 25px;
    height: 25px;
    background-color: black;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.web .web_bottom>div:nth-child(2) p:nth-child(2) span {
    background-color: #ffffff;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.4rem;
    gap: 0.1rem;
}

.fa-circle {

    font-size: 8px;
    color: var(--primary-text-color);
}

.web .web_bottom>div:nth-child(2) p:nth-child(3) span {
    background-color: var(--primary-color);
    padding: 0.4rem 0.4rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-arrow-down {
    color: var(--secondary-text-color);

}

/* footer section start  */
#home_footer {
    margin-top: 8rem;
    padding: 5rem 0;
    background: url(../images/footer-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home_footer .footer_main {
    background-color: var(--secondary-text-color);
    border-radius: 1rem;
}

#home_footer .footer_top {
    padding: 3rem 0rem;
    height: 90%;
    display: flex;
    justify-content: space-around;
}

#home_footer .footer_about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.quick_links {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;

}

#home_footer a:hover {
    color: var(--primary-color);
}

#home_footer .newsLetter {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#home_footer form {
    display: flex;
    height: 40px;
    border-radius: 0.8rem;
}

#home_footer form .email {
    padding: 5px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 0.8rem 0rem 0rem 0.8rem;
}

#home_footer form .email:focus {
    outline: 1px solid rgb(101, 101, 255);

}

#home_footer form button {
    height: 100%;
    width: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 0 0.8rem 0.8rem 0;
    color: #FFFFFF;
    cursor: pointer;
}

.footer_bottom {
    padding: 1.5rem 4.5rem;
    border-top: 1px solid rgb(164, 164, 164);
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.footer_bottom .links {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

footer p,
footer a {
    color: #4F4F4F;
}

footer a:hover {
    color: var(--primary-color);
}

/* footer section end  */
/* HomePage done  */


/* about page start here  */

#about_header {
    height: 50vh;
    width: 100%;
    background: url(../images/about-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about_header .about_text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about_header .about_text h2 {
    font-size: 2.8rem;
}

#about_header .about_text p i {
    color: var(--primary-color);
}

/* about header ends  */

/* about_hero section starts */
#about_hero .container {
    display: flex;
    gap: 3rem;
}

.about_hero_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.about_hero_text p:nth-child(1) {
    color: var(--secondary-color);
}

.about_hero_text h2>span {
    color: var(--secondary-color);
}

.about_hero_text .success_bar,
.about_hero_text .success_bar span {
    height: 0.5rem;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
}

.about_hero_text .success_bar span {
    display: block;
    background-color: var(--secondary-color);
    width: 73.3%;
}

.about_hero_text a {
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 8rem;
    height: 2.5rem;
    border: 2px solid var(--secondary-color);
    border-radius: .5rem;
}

.about_hero_img {
    width: 50rem;
}

.about_hero_img img {
    width: 100%;
    height: 100%;

}

/* about hero section ends  */

/* subscribe section start  */
.subscribe .container {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1000;

}

.subscribe .sub_text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 60%;
    border: 1px solid rgba(128, 128, 128, 0.507);
    padding: 1rem 3rem;
    border-radius: 1rem;
    background-image: linear-gradient(to right, rgb(216, 216, 216), rgb(255, 255, 255));
}

.subscribe .sub_text h2 {
    font-size: 3rem;
}

.subscribe .sub_text div {
    display: flex;
    gap: 1rem;
}

.subscribe .sub_text input {
    background-color: #ffffff;
    padding: 0.4rem 1rem;
    border-radius: 0.6rem;
    border: none;
}

.subscribe .sub_text button {
    padding: 0.8rem 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 0.6rem;
    font-family: var(--secondary-font-family);
    cursor: pointer;
}

/* subscribe secton end  */

/* footer section for about page start  */
#about_footer {
    height: 100vh;
    width: 100%;
    margin-top: 4rem;
}

#about_footer .about_footer_top {
    height: 21%;
}

#about_footer .about_footer_bottom {
    height: 79%;
    background-image: url(../images/footer-bg-2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#about_footer .footer_main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#about_footer .footer_emptyDiv {
    height: 80px;
}

#about_footer .footer_main_top {
    display: flex;
    justify-content: space-between;
}

.footer_main_top .footer_about {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

}

.footer_service {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.footer_service ul {
    list-style: none;
}

.footer_service div {
    display: flex;
    gap: 5rem;
    justify-content: space-between;
}

.footer_service div ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


#about_footer .footer_main_bottom {
    padding: 1.5rem;
    border-top: 1px solid rgb(164, 164, 164);
    height: 10%;
    display: flex;
    justify-content: space-between;
}

.footer_main_bottom .links {
    display: flex;
    justify-content: space-evenly;
    gap: 2rem;
}

/* about_footer ends */
/* about_section ends here  */

/* service section start  */
#service_grid {
    margin-top: 5rem;
}

#service_grid .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#service_grid .container .grid_element {
    background-color: var(--tertiary-color);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

#service_grid .container .grid_element:hover {
    background-color: #dce3ff;
}

.grid_element img {
    width: 45px;
    border-radius: 0.6rem;
}

#service_grid .container .grid_element a:hover {
    color: var(--primary-color);
}

/* service page ends  */


/* project page start  */
#project_grid {
    margin-top: 5rem;
}

#project_grid .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#project_grid .photos img {
    border-radius: 1rem;
    width: 100%;
}

/* project page end  */

/* blog page start  */
#blog {
    margin-top: 5rem;
}

#blog .container {
    font-family: var(--primary-font-family);
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

#blog .blog_main {
    width: 68%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

#blog .blog_main .blog_content {
    padding: 1.5rem;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 0.5rem;
}

.blog_content .blog_img {
    background-color: rgb(189, 189, 189);
    height: 18rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: right;
    align-items: flex-start
}

.blog_img .admin {
    background-color: var(--primary-color);
    color: #ffffff;
    border-radius: 0rem 0.6rem;
    padding: .3rem;
    display: flex;
    gap: .5rem;

}

.blog_content .blog_text {
    margin-top: 2rem;
}

.blog_content .blog_text .blog_date {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    padding: 0.5rem;
}

.blog_content .blog_text .text_p {
    margin-top: 1rem;
    font-size: 2.5rem;
    font-family: var(--secondary-font-family);
}

.blog_content .blog_text a {
    margin-top: 2rem;
    display: inline-block;
    border: 2px solid var(--primary-color);
    padding: 0.8rem 1rem;
    border-radius: 0.4rem;
}

/* aside start  */
#blog aside {
    width: 32%;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

aside .search,
.post,
.category,
.tags {
    padding: 2rem;
    border: 1px solid rgb(179, 179, 179);
    border-radius: 0.5rem;
}

aside .search h3 {
    margin-bottom: 2rem;
}

aside .search form {
    width: 100%;
    display: flex;
}

aside .search input,
aside .search button {
    font-size: 1rem;
    padding: .8rem;
    border: none;
    border-radius: 0.5rem;
    font-family: var(--secondary-font-family);
    background-color: var(--tertiary-color);
    outline: none;
}

aside .search input {
    width: 100%;

}

aside .search form input:focus {
    outline: 2px solid #6982ff;
}

aside .search button {
    color: var(--secondary-color);
    margin-left: -2.9rem;
    position: relative;
    z-index: 10;
    cursor: pointer;

}

aside .post>div {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
}

aside .post .post_img {
    width: 8rem;
    height: 5rem;
    background-color: var(--tertiary-color);
    border-radius: .5rem;
}

aside .post .post_date {
    font-size: small;
    margin-top: 1.5rem;
}

aside .post i {
    color: var(--secondary-color);
    margin-right: 0.4rem;
}

aside .category h3 {
    margin-bottom: 2rem;
}

aside .category p {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-top: 1px solid rgb(179, 179, 179);
    color: rgb(54, 54, 54);
}

aside .tags>div {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

aside .tags>div a {
    font-size: small;
    display: inline-block;
    padding: 0.6rem;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
}

/* pagination  */

.pagination {
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.pagination a {
    padding: 1rem;
    border-radius: 1rem;
    background-color: var(--tertiary-color);
}

.pagination a:hover,
.pagination a.active_page {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

/* pagination end  */