/* Initial setup start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem 6rem;
}

:root {
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --primary-font-family: "Lora", serif;
    --secondary-font-family: "Plus Jakarta Sans", sans-serif;
    --primary-text-color: #090F32;
    --secondary-text-color: #FFFFFF;
    --color-bg: #ffffff;
    --heading-font-size: 3.5rem;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
    color: var(--primary-text-color);
}

h2 {
    font-family: var(--primary-font-family);
    font-size: var(--heading-font-size);
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 8px;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color .3s ease;

}

.btn:hover {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #090F32;
    font-size: 1rem;
    transition: color 0.3s ease;
}

/* Initial setup end  */

/* hero section start */

#hero {
    min-height: 100vh;
    width: 100%;
    background: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
}

/* header part start  */
.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 25px;
}

.menu ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

.menu ul li a {
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.menu ul li a>i {
    display: flex;
    justify-content: center;
}

.menu>i {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 8px 23px 8px 8px;
    border-radius: 15px;
    cursor: pointer;
}

/* header part end  */

/* hero content part start  */
.hero_content {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    display: flex;
    align-items: center;
    /* width: 40%; */
}

.hero_text_part p {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-family: var(--secondary-font-family);
    margin-bottom: .5rem;
}

.hero_text_part h1 {
    font-size: var(--heading-font-size);
    display: flex;
}

.hero_image img {
    max-width: 500px;
    height: auto;
    align-items: center;
}

/* hero section end  */