/* Initial setup start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
}

:root {
    --primary-color: #5A76FF;
    --secondary-color: #D589DD;
    --tertiary-color: #F3F7F8;
    --primary-font-family: "Lora", serif;
    --secondary-font-family: "Plus Jakarta Sans", sans-serif;
    --primary-text-color: #090F32;
    --secondary-text-color: #FFFFFF;
    --color-bg: #E5E5E5;
    --heading-font-size: 3.4rem;
}

body {
    scroll-behavior: smooth;
    background-color: var(--color-bg);
    color: var(--primary-text-color);
}

h2 {
    font-size: var(--heading-font-size);
}

.btn {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    border-radius: 8px;
    padding: 12px 18px;
    display: inline-block;
    margin-top: 2rem;
    transition: background-color .3s ease;

}

.btn:hover {
    background-color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: #090F32;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.section_head {
    color: #5A76FF;
    text-transform: uppercase;
}

/* Initial setup end  */

/* hero section start */

#hero {
    min-height: 100vh;
    width: 100%;
    background: url(../images/hero-bg.png);
    background-size: cover;
    background-position: center;
}

/* header part start  */
.navbar {
    display: flex;
    justify-content: space-between;
}

.menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
    /* gap: 25px; */
    gap: 1rem;
}

.menu ul li a {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
}

.menu ul li a:hover {
    color: var(--primary-color);
}

.menu ul li a>i {
    font-size: .8rem;
    display: flex;
    justify-content: center;
}

.menu>i {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: 8px 23px 8px 8px;
    border-radius: 15px;
    cursor: pointer;
}

/* header part end  */

/* hero content part start  */
.hero_content {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
}

.hero_text {
    display: flex;
    align-items: center;
    /* width: 40%; */
}

.hero_text_part p {
    color: var(--primary-color);
    font-size: 1.3rem;
    font-family: var(--secondary-font-family);
    margin-bottom: .5rem;
}

.hero_text_part h1 {
    font-family: var(--primary-font-family);
    font-size: 3.8rem;
    color: var(--primary-text-color);
}

.hero_image img {
    max-width: 520px;
    height: auto;
    align-items: center;
}

/* hero section end  */

/* service section start  */
#service {
    margin-top: 1.5rem;
}

#service .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.arrow_icons .arrow {
    margin-left: 1.2rem;
    font-size: 1.5rem;
    padding: 1.5rem 1.2rem;
    color: rgb(110, 110, 110);
    background-color: var(--color-bg);
    border: 1px solid rgb(150, 150, 150);
    border-radius: 0.6rem;
    display: inline;
    cursor: pointer;
}

.arrow_icons .arrow:hover {
    color: var(--primary-text-color);
}

.arrow_icons .arrow:focus {
    color: var(--primary-text-color);
    border: 2px solid var(--primary-text-color);
}

#service .bottom {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.card {
    font-family: var(--secondary-font-family);
    width: 100%;
    height: 270px;
    background-color: var(--tertiary-color);
    padding: 2rem 2.8rem 2rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 1.4rem;
}

.card:hover,
.card a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.card img {
    width: 3rem;
    border-radius: 6px;
}

.card a {
    font-size: small;
}

/* service section end  */

/* project section start  */
#project .head {
    text-align: center;
}

#project .nav ul {
    width: 40%;
    border-radius: 1.3rem;
    padding: 0.6rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    list-style: none;
    background-color: white;

}

#project .nav ul li {

    border-radius: 1rem;
    padding: 0.8rem 0.5rem;
}

#project .nav ul li:hover,
#project .nav ul li:focus {
    background-color: #E5E5E5;
}

#project .photos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

#project .photos img {
    width: 100%;
    border-radius: 1rem;
}

/* project section end  */

/* portfolio section start  */

#portfolio .portfolio_head {
    text-align: center;
}

#portfolio .portfolio_content .top_row {
    /* font-family: var(--secondary-font-family); */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

}

#portfolio .portfolio_content .award>div {
    display: flex;
    gap: 1rem;
    background-color: var(--secondary-text-color);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    color: #090F32;
}

.award>div span {
    font-size: 1.5rem;
    font-weight: bold;
}

.award>div p {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: small;
    gap: 0.5rem;
}

#portfolio .design ul {
    padding-left: 0.8rem;
    font-size: 0.87rem;
    line-height: 1.5rem;
}

#portfolio .design ul li::marker {
    content: '\2713';
}

#portfolio .portfolio_content .tools>div {
    display: flex;
    flex-wrap: wrap;
    gap: 0.6rem;
    color: var(--secondary-text-color);
}

#portfolio .portfolio_content .tools>div p {
    padding: 0.5rem;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.portfolio_content .bottom_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.second_card {
    height: 270px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: white;
    border-radius: 1rem;

}

.second_card p {
    font-family: var(--secondary-font-family);
}

.seo {
    background-color: var(--secondary-color);
}

.seo a {
    font-size: small;
    text-align: center;
    width: 150px;
    padding: 0.8rem;
    font-family: var(--secondary-font-family);
    display: inline-block;
    background-color: var(--secondary-text-color);
    border-radius: 0.5rem;
}

.seo a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
}

.education {
    background-color: var(--primary-color);
}

.education img {
    width: 4rem;
}

h3 {
    font-family: var(--secondary-font-family);
}